# HW 4
__CS 216, Everything Data, Spring 2020__

__DUE: Monday Feb. 17 by 4:40 pm (class time)__

In this assignment, you will practice some statistical and probabilistic arguments that are useful for exploratory data analysis. You will include all of your answers for this assignment within this notebook. You will then convert your notebook to a .pdf and a .py file to submit to gradescope (submission instructions are included at the bottom).

Please take note of the [course collaboration policy](https://sites.duke.edu/compsci216s2020/policies/). You may work alone or with a single partner. If you work with a partner, you may not split up the assignment; you should work together in-person or complete parts independently and come together to discuss your solutions. In either case, you are individually responsible for your work, and should understand everything in your submission.

# Part 1: Team Probabilities
Suppose that we take 150 students and randomly assign them to groups of 5 students each by the following procedure. First, we generate a uniform random permutation of the students (that is, a random ordering where for a given student there is an equal probability of appearing at any position in the ordering from 1, 2, 3, ..., 150). Then we simply assign the first five students in the ordering to the first group, the second five to the second group, and so on. Compute the following probabilities.

Note that you can arrive at your answer and show your work either analytically (show your math) or computationally (show code for your simulation). With the latter approach, you simulate the process many times, and see what fraction of these times the event of interest occcurs. In either case, we will count your answer as correct if it is correct rounded to the second decimal place (that is, if the real answer is 0.0312 and you get 0.0297, we will count that as correct).

### Problem A
Suppose a student has a single best friend in the class. What is the probability that a given student gets placed in a group with their best friend?

The first student can be in any group.  Within their group, there are four additional spots.  Thus, we must calculate the probability that their friend is in one of those four spots, which is 4/149.  This evaluates to .031.

### Problem B
Suppose a student has a single worst enemy in the class. What is the probability that a given student is *not* placed in a group with their worst enemy?

The probability that a student is not placed in a group with another student is 1-.031, or .969.

### Problem C
Suppose that the best friend relationship is symmetric: if Bob is Alice's best friend, then Alice is Bob's best friend; there are exactly 75 such best friend pairs. What is the expected number of best friend pairs that get placed into the same group accross all of the groups?

*Write your answer here. Show your work (your mathematical reasoning or simulation code)*

### Problem D
What is the probability that every best friend pair gets placed into the same group? (*hint* Don't overthink it).

*Write your answer here. Show your work (your mathematical reasoning or simulation code)*

### Problem E 
What is the probability that no best friend pairs get placed into the same group?

*Write your answer here. Show your work (your mathematical reasoning or simulation code)*

### Problem F
Now suppose that we couldn't get a big enough room, and there are 5 sections of the class that meet at different times, each with 30 students. Suppose we randomly assign groups as before, but only within sections so that there are 6 random groups with students from the first section, 6 random groups with students from the second section, and so on.

Reasonably enough, students may prefer to sign up for sections with their best friends. Suppose that 50 out of the 75 best friend pairs signed up for the same sections, and 25 of the best friend pairs had to take different sections. Given this information, what is the expected number of best friend pairs that get placed into the same group accross all of the groups?

*Write your answer here. Show your work (your mathematical reasoning or simulation code)*

# Part 2: Birthmonth Probabilities
To simplify this problem, assume that a year has twelve equal duration months, rather than the unequal months in the standard calendar. As before, show your work, either mathematical reasoning or simulation code.

### Problem A
Assuming that people are equally likely to be born in any month, how many people must be selected uniformly at random before the probability that at least two of the selected people have the same birth month is at least 1/2?

In [77]:
import random
same = 0
runs = 1000000
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
for i in range(runs):
    selections = 2
    selected = []
    for i in range(selections):
        selected.append(random.choice(months))
    mySet = set(selected)
    if len(mySet) < len(selected):
        same += 1
r = same / runs
print(r)

0.083267

When 5 people are selected, the odds that at least two of the people have the same birthmonth is around .619.  When 4 people are selected, the odds that two people have the same birthmonth is around .428.  Thus, 5 people must be selected at random for the probability that at least two of the selected people to have the same birth month be at least 1/2. I altered the number of selections using the "selections" variable.

### Problem B
Now assume that for each month among May, June, July, and August, the probability of being born in that month is 1/10, whereas for every other month the probability of being born in that month is 3/40. What is the probability that two people selected uniformly at random have the same birth month? Is this more or less than in problem A?

In [76]:
import random
same = 0
runs = 1000000
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
specialMonths = ["May", "June", "July", "August"]
editedMonths = []
for month in months:
    if month in specialMonths:
        for i in range(4):
            editedMonths.append(month)
    else:
        for i in range(3):
            editedMonths.append(month)
for i in range(runs):
    selections = 2
    selected = []
    for i in range(selections):
        selected.append(random.choice(editedMonths))
    mySet = set(selected)
    if len(mySet) < len(selected):
        same += 1
r = same / runs
print(r)

0.084561

When two people are selected at random, the probability that they have the same birth month is around .083 when the probability of being born in any given month is uniform.  When two people are selected at random the probability of being born in the same month is around 0.085 when the probability of being born in any given month is not uniform.  Thus, there is a greater probability in the second scenario.

# Part 3: Exploring Movie Lens Data
The movie lens dataset contains about 100,000 ratings from 1000 users on 1700 movies, made available by grouplen.org. This information is in three files: `u.user`, `u.data`, and `u.item`. Below, we import the relevant information into three dataframes (about the users, the ratings, and the movies). You are welcome to work directly with these dataframes, or to transform the data however you like for solving the problems in this part. Most of the data is self explanatory, but be sure to note that a given movie can be categorized as multiple genres (see the movies dataframe / `u.item` file below). To denote this, each row of the table corresponds to a given movie, and there is a column for every genre; there is a 1 in the column if the movie is of that genre, and a 0 otherwise.

In [78]:
import pandas as pd

df_users = pd.read_table('u.user', sep='|', names = ['user_id', 'age', 'sex', 'occupation', 'zip'])
df_users.head()

   user_id  age sex  occupation    zip
0        1   24   M  technician  85711
1        2   53   F       other  94043
2        3   23   M      writer  32067
3        4   24   M  technician  43537
4        5   33   F       other  15213

In [79]:
df_ratings = pd.read_table('u.data', sep=',', names = ['user_id', 'movie_id', 'rating', 'timestamp'])
df_ratings.head()

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [80]:
df_movies = pd.read_table('u.item', sep='|', encoding='latin',\
                          names = ['movie_id', 'movie_title', 'release_date', 'video_release_date',\
                                    'imdb_url', 'unknown', 'action', 'adventure', 'animation',\
                                    'children', 'comedy', 'crime', 'documentary', 'drama', 'fantasy',\
                                    'film_noir', 'horror', 'musical', 'mystery', 'romance', 'sci_fi',\
                                    'thriller', 'war', 'western'])
df_movies.head()

,movie_id,movie_title,release_date,video_release_date,imdb_url,unknown,action,adventure,animation,children,...,fantasy,film_noir,horror,musical,mystery,romance,sci_fi,thriller,war,western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

### Problem A
Compute the average rating for every genre of movie (for your convenience, we define the genres as a list below corresponding to the column names in the movies dataframe). Which genre is rated the highest on average?

In [81]:
genres = ['unknown', 'action', 'adventure', 'animation', 'children', 
          'comedy', 'crime', 'documentary', 'drama', 'fantasy', 
          'film_noir', 'horror', 'musical', 'mystery', 'romance', 
          'sci_fi','thriller', 'war', 'western']

In [ ]:
dict = {}

*Write your answer to Problem A here*

### Problem B
What is the probability that a random user likes (rates 4 or 5) at least one horror movies given that the the user likes (rates 4 or 5) at least one musical.

In [ ]:
# Write your code to solve Problem B here

*Write your answer to problem B here.

### Problem C
What is the expected age of a random user that likes (rates a 4 or 5) at least one children's movie?

In [ ]:
# Write your code to solve Problem C here

*Write your answer to Problem C here.*

### Problem D
Is the probability that a random user likes (rates a 4 or 5) at least one drama independent of the probability that a random user likes (rates a 4 or 5) at least one comedy? Explain your answer.

In [ ]:
# Write your code to solve Problem D here

*Write your answer to Problem D here.*

## Submitting HW 4
1. Double check that you have written all of your answers along with your supporting work in this notebook. Make sure you save the complete notebook.
1. Double check that your entire notebook runs correctly and generates the expected output. To do so, you can simply select Kernel -> Restart and Run All. 
2. You will download two versions of your notebook to submit, a .pdf and a .py. To create a PDF, we reccomend that you select File --> Download as --> HTML (.html). Open the downloaded .html file; it should open in your web broser. Double check that it looks like your notebook, then print a .pdf using your web browser (you should be able to select to print to a pdf on most major web browsers and operating systems). Check your .pdf for readability: If some long cells are being cut off, go back to your notebook and split them into multiple smaller cells. To get the .py file from your notebook, simply select File -> Download as -> Python (.py) (note, we recognize that you may not have written any Python code for this assignment, but will continue the usual workflow for consistency). 
3. Upload the .pdf to gradescope under hw4 report and the .py to gradescope under hw4 code. If you work with a partner, only submit one document for both of you, but be sure to add your partner using the [group feature on gradescope](https://www.gradescope.com/help#help-center-item-student-group-members).